/*overall page organization*/

body{
    background-color: rgb(29, 4, 4);
}

main{
    position: relative;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

section{
    position: relative;
    margin: auto;
}

/*Section position & stacking*/

#section1{
    position: absolute;
    top:10%;
    left:15%;

    z-index: 1;
}
#section2{
    position: absolute;
    top:10%;
    left:15%;

    z-index: 0;
}

#section3{
    position: absolute;
    top:10%;
    left:15%;

    z-index: 0;
}

#section4{
    position: absolute;
    top:10%;
    left:15%;

    z-index: 0;
}

/*form styling*/

.container{
    background-color: #fbefae;
    max-width: 275px;
    padding: 10px;
}

.form_group{
    margin: 5px;
}

label{
    display: inline-block;
    width: auto;
    vertical-align: middle;
    font-family: "EB Garamond";
    font-size: 0.8em;
    color: #391907;
}

#formP{
    font-family: "EB Garamond";
    font-size: 0.8em;
    color: #391907;
}

input::placeholder{
    font-family: "EB Garamond";
    font-size: 0.8em;
}

fieldset {
    padding: 0;
    border: none; 
    display: flex;
    align-items: center;
    gap: 5px;
}

input[type="text"] { 
    display: inline-block;
    outline: none;
    border: none;
    border-bottom: 1px dashed grey;
    background-color: #fbefae;
    width: 40%;
    margin-bottom: 10px;

}

input[type="submit"]{
    font-size: 0.8em;
    background-color: #dbc59b;
    padding: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 10px;
}

input[type="submit"]:hover{
    background-color: #a79471;
    color:antiquewhite;
}

/*non-form text*/
h1{
    font-family: "Pirata One";
    color:#d3c2c5;
    font-size: 5em;
}

header{
    width:300px;
}

p{
    font-family: "EB Garamond";
}

.speach{
    font-family: "Quintessential";
    font-size: 1em;
    line-height: 40px;
}

#welcome{
    max-width: 300px;
    background-color: rgb(250, 249, 245);
    padding: 10px;
    border-radius: 40px;
    
}

#time{
    max-width: 200px;
    background-color: rgb(250, 249, 245);
    padding: 10px;
    border-radius: 40px;
    text-align: center;
}

#end{
    max-width: 200px;
    background-color: rgb(250, 249, 245);
    padding: 10px;
    border-radius: 40px;
    text-align: center;
}

#ready{
    background-color: #dbc59b;
    padding: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 10px;
}

#ready:hover{
    background-color: #a79471;
    color:antiquewhite;
}

#restart{
    background-color: #dbc59b;
    padding: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 10px;
}

#restart:hover{
    background-color: #a79471;
    color:antiquewhite;
}

#obituary{
    background-color: #4b4146;
    max-width: 225px;
    padding: 10px;
    line-height: 25px;

}

#obituary > p{
    font-size: 0.8em;
    color: #d3c2c5;
}

/*Section 1 layouts*/

header{
    position: absolute;
    top: -5%;
    left: 5%;
}

#welcome{
    position: absolute;
    top: 20%;
    right: 23%;
}

#ready{
    position:absolute;
    bottom: 5%;
    right:5%;
}


/*Section 2 + 3 layouts*/

.container{
    position: absolute;
    top: 20%;
    right: 25.5%;
}

#time{
    position: absolute;
    top: 0%;
    left: 35%;
}


/*Section 4 layouts*/

#obituary{
    position: absolute;
    top: 35%;
    right: 23%;
}

#end{
    position: absolute;
    top: 2%;
    left: 15%;
}

#restart{
    position:absolute;
    bottom: 5%;
    right:5%;
}
